@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin secondary-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.17em;
}

@mixin translate3d--0 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}