// Light theme
$bg: #fff;
//text
$primary-title-color: #2c3e50;
$primary-text-color: #34495e;
$secondary-text-color: #34495ea6;
$white: #fff;
$gray: rgba(255,255,255,.5);
//links
$primary-link: #3CA978;
$primary-link--hover: #4DB084;
$primary-link--active: #4DB084;
//buttons
$primary-button: #FF7481;
$primary-button--hover: #F59CA9;
$primary-button--active: #FF7481;

//
$border-color: #34495e1c;

$post-title--padding: 12px;


// Dark theme
