.post {
  &__hero {
    margin: 32px 0 52px 0;
    height: 50vh;
    .col-md-6 {
      padding: 0;
    }
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    // &-category {

    // }
    &-tags {
      @include flex-vertical--center;
      &-item {
        @include flex-vertical--center;
        margin-right: 12px;
        svg {
          width: $icon-width--medium;
          margin-right: 5px;
          color: $secondary-text-color;
        }
      }
    }
    &-title {
      font-size: 52px;
      line-height: 65px;
      margin-top: 15px;
    }
    &-summary {
      color: $secondary-text-color;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1px;
    }
    &-bottom {
      &-author {
        margin-bottom: 15px;
        width: 100%;
        img {
          width: 50px;
          float: left;
          border-radius: 50%;
          margin-right: 12px;
        }
      }
      &-date {
        @include flex-vertical--center;
        color: $secondary-text-color;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 1px;
        margin-top: 5px;
        svg {
          width: $icon-width--small;
          margin: 0 8px;
        }
      }
    }
    &-image {
      overflow: hidden;
      height: 100%;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  &__main {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 15px;
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
    }
    h2 {
      font-size: 32px;
      line-height: 48px;
    }
    h3 {
      font-size: 26px;
      line-height: 36px;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
  }
  &__bottom {
    &-links {
      @include flex-between-center;
    }
  }
}
